.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 20% 15%;
    grid-template-rows: 1fr 15% 10% 20%;
    grid-template-areas: 
     'hd hd hd hd'
     'tp tp tp as'
     'mn mn mn as'
     'ft ft ft ft';
     min-height: 100vh;
}


/* HEADER */

header {
    grid-area: hd;
    background-color: blue;
}

header .mobile-nav {
    display: none;
}

.mobile-nav-button {
    display: none;
}

.topsection {
    grid-area: tp;
    background-color: cadetblue;
}


main {
    grid-area mn;
    background-color: cornflowerblue;
}

aside {
    grid-area: as;
    background-color: mediumblue;
}

footer {
    grid-area: ft;
    background-color: indigo;
}
